<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount (£)</th>
                <th>AvailableBalance (£)</th>
                <th>Balance (£)</th>
            </tr>
        </thead>

        <tbody>
            {% for view in statement %}
                <tr>
                    <td>{{ view.date|date("Y-m-d H:i") }}</td>
                    <td>{{ view.description }}</td>
                    <td>{{ view.amount|moneyRaw }}</td>
                    <td>{{ view.availableBalance|moneyRaw }}</td>
                    <td>{{ view.balance|moneyRaw }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>