<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple prepaid card</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">
    <style>
        body {
            padding-top: 70px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="col-lg-3">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index') }}">Simple prepaid card</a>
            </div>
        </div>
        <div class="col-lg-9">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="navbar-collapse collapse">
                    <a href="{{ path('reset-data') }}" class="btn btn-danger navbar-btn">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> RESET ALL DATA
                    </a>

                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text">
                            Logged as: <strong style="color: #ffffff">{{ app.user.username|capitalize }}</strong>
                        </p>
                        <li>
                            <div class="btn-group">
                                <a href="{{ path('index') }}" class="btn btn-primary navbar-btn">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                                </a>
                                <a href="{{ path('logout') }}" class="btn btn-default navbar-btn">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}

    {% endblock %}
</div>

<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
</body>
</html>